.minih {
  font-size: 13px;
  font-weight: 700;
}

.ab_btnc {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.tools {
  background: #277de0;
border: 2px solid black;
  /* background: linear-gradient(166deg, rgba(14,46,130,1) 0%, rgba(3,3,53,1) 99%); */
}

.ab_btnc::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #216eff 0%, #2b2b2b 100%);
  transition: 0.5s ease;
  display: block;
 
}

.ab_btnc:hover::before {
  width: 9em;
}

.coursebr:hover{
    border-color: #277de0;
}

.course_btn2 {

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;

transition:   0.5s ease-in !important;

font-size: 14px !important;
color: white !important;
 
  font-weight: 650 !important;
  border-radius: 5px !important;
  z-index: 1 !important;
background-color: #277de0 !important;
}

.course_btn2:hover {
  transform: scale(1.1) !important;
   color: #277de0 !important;
    background-color: white !important;
transition:   0.5s ease-in !important;
  
  font-size: 14px !important;
  box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #fff !important;

}

.count {
  font-weight: 800;
  font-size: 22px;
}
