
.career_black_ball{
    margin-top: -100px;

}

.img_arrow_down{
    margin-top: -200px;
}


@media screen  and (min-width:319px) and (max-width:360px) {

    .img_arrow_down{


        margin-left: 25px;
    }

   
}


@media screen  and (min-width:369px) and (max-width:640px) {

    .img_arrow_down{


        margin-left: 15px;
    }
}

@media screen  and (min-width:640px) and (max-width:1023px) {

    .img_arrow_down{


        margin-left: 33px;
    }
}